/* ABOUT ME */
/* title */
.about_me_header {
  font-family: 'Audiowide';
  font-weight: bold;
  font-size: 40px;
  color: #028090;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #028090;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid #028090;
}
/* paragraphs */
.about_me {
  background: #242423;
  font-family: 'Open Sans';
  color: #e5e5e5;
  padding: 10% 10%;
  padding-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* list of skills */
.my_skills {
  background: #242423;
  font-family: 'Open Sans';
  color: #e5e5e5;
  padding: 5% 10%;
  border-radius: 0 0 15px 15px;
}
.my_skills > p {
  font-family: 'Audiowide';
}
.my_skills > ul > li::before {
  content: "- ";
}
/* small screens */
.ul_small {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;
  list-style-type: none;
}
/* regular screens */
.ul_regular {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  list-style-position: inside;
  list-style-type: none;
}
