.websites-1 {
  background-image: url('../images/construction-site-link.jpg');
}
.websites-2 {
  background-image: url('../images/mac2.jpg');
}
.websites-3 {
  background-image: url('../images/construction-site-link.jpg');
}
.websites-4 {
  background-image: url('../images/mac2.jpg');
}
.websites-5 {
  background-image: url('../images/construction-site-link.jpg');
}
.websites-6 {
  background-image: url('../images/mac2.jpg');
}
.websites-7 {
  background-image: url('../images/construction-site-link.jpg');
}
.websites-8 {
  background-image: url('../images/mac2.jpg');
}
.websites-9 {
  background-image: url('../images/construction-site-link.jpg');
}
.websites-10 {
  background-image: url('../images/mac2.jpg');
}
