.websites-1::before {
  background-image: url('../images/mac.jpg');
}
.websites-2::before {
  background-image: url('../images/mac2.jpg');
}
.websites-3::before {
  background-image: url('../images/mac.jpg');
}
.websites-4::before {
  background-image: url('../images/mac2.jpg');
}
.websites-5::before {
  background-image: url('../images/mac.jpg');
}
.websites-6::before {
  background-image: url('../images/mac2.jpg');
}
.websites-7::before {
  background-image: url('../images/mac.jpg');
}
.websites-8::before {
  background-image: url('../images/mac2.jpg');
}
.websites-9::before {
  background-image: url('../images/mac.jpg');
}
.websites-10::before {
  background-image: url('../images/mac2.jpg');
}
