body {
  background-image: url('../images/background_repeat.png');
  background-repeat: repeat;
  background-attachment: fixed;
}
.mainNavbar {
  background: #333533;
}
#sideMenu {
  background: #333533;
}

.tab {
  position: fixed;
  top: 0px;
  left: 0px
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 10%;
  height: 100%;
  z-index: 100;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #279af1;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 25px;
  font-family: 'Audiowide';
}

.text-sideways {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  margin: auto;
}
.sidebar-text {
  display: flex;
  width: 100%;
  align-items: center;
}
.tablinks {
  font-size: 25px;
  font-family: 'Audiowide';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #279af1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tablinks:hover {
  color: #279af1;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  background: linear-gradient(90deg, #279af1, #B618B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tablinks:hover .sidebar-text {
  background: linear-gradient(180deg, #279af1, #B618B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.w3-sidebar {
  width: 50px;
  background: #242423;
}
.w3-sidebar button {
  width: 100%;
  font-size: 20px;
  padding: 20px 0px 20px 0px;
  margin-top: 10px;
}
.w3-sidebar button p {
  margin: auto;
}

@media (min-width:601px){
.tabcontent {
  margin-left: 10%;
}}

/*.bgimg-1 {
  margin-left: -10%;
}*/

.projects-container {
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition:         transform .2s ease-in-out;
}
.projects-container-rotate {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}
.project-links-container {
  border: 1px solid black;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.project-links-container::-webkit-scrollbar {
  display: none;  /*Chrome, Safari and Opera */
}
.project-link {
  display: inline-block;
  width: 100px;
  height: 200px;
  padding: 50px;
  border: 1px solid black;
  text-decoration: none;
}
.project-link:hover {
  padding-left: 70px;
}
.project-link span {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
